body{
  margin: 0;
  font-family: Roboto; 
  background-color: #f6f6f6;
}

.wrapper{
  max-width: 960px;
  margin: 3rem auto;
}

h1{
  margin: 40px auto;
  color: #ff0aa7;
  text-align: center;
  font-size: 4rem;
}

ul{
  padding: 0;
  list-style-type: none;
}

.log-div{
  padding: 2rem;
  border: 2px solid #eee;
  margin: 10px auto;
  transition: all 0.5s ease;
}

.log-div h4{
  color: #ff0aa7;
  margin: 0;
  text-transform: capitalize;
}

.log-div p{
  color: #333;
  margin: 8px 0 0;
}

footer{
  background: #eee;
  padding: 60px;
  margin-top: 60px;
  font-size: 2rem;
}

form{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

label{
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 16px 0 6px;
}

input, select{
  padding: 8px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 1.2rem;
}

.field{
  display: inline-block;
  margin: 0 10px;
}

.add-btn, 
.clear-btn{
  margin: 1rem;
  color: white;
  border: 0;
  background: #ff0aa7;
  padding: 6px;
  font-size: 1.5rem;
  min-width: 80px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.add-btn:hover,
.clear-btn:hover {
  color: #ff0aa7;
  background: #eee;
  font-weight: 600;
}

footer a{
  text-align: center;
  display: block;
  color: #999;
  margin-top: 40px;
  font-size: 0.7em;
}

/** Log Styles */

.item-list  {
  font-size: 2rem;
}

.item-list h4 {
  font-size: 2.1rem;
}

.logs {
  display: flex;
}

p {
  flex: 1;
}

/** Log Button */
.fa-trash{
  pointer-events: none;
}

.delete-btn {
  font-size: 1.7rem;
  /* padding: 0.2rem 0.9rem; */
  color: #ff0aa7;
  background: #f6f6f6;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  color: #8400ff;
}

/** Event Animations */
.drop {
  transform: translateY(9rem);
  opacity: 0;
}

@media screen and (max-width: 294px) {
  footer{
    padding: 0;
    margin: 0;
  }
  p {
     font-size: 1.4rem;
 }
}